
    <!-- ### $Topbar ### -->
    <div class="header navbar" style="width: 100%;">
      <div class="header-container">
        <ul class="nav-left">
          <div class="navbar-logo">
            <div class="peers ai-c fxw-nw">
              <div class="peer peer-greed">
                <a class="navbar-link td-n" >
                  <div class="peers ai-c fxw-nw">
                    <div class="peer">
                      <div class="logo">
                        <img src="/static/assets/static/images/logo.png" alt="logo">
                      </div>
                    </div>
                    <div class="peer peer-greed">
                      <h1 class="lh-1 mB-0 logo-text">Pelo</h1>
                    </div>
                  </div>
                </a>
              </div>
              
            </div>
          </div>
          <!-- <li>
            <a id="sidebar-toggle" class="sidebar-toggle" href="javascript:void(0);">
              <i class="ti-menu"></i>
            </a>
          </li> -->
          <!-- <li class="search-box">
            <a class="search-toggle no-pdd-right" href="javascript:void(0);">
              <i class="search-icon ti-search pdd-right-10"></i>
              <i class="search-icon-close ti-close pdd-right-10"></i>
            </a>
          </li> -->
          <!-- <li class="search-input">
            <input class="form-control" type="text" placeholder="Search...">
          </li> -->
        <!-- </ul>
        <ul class="nav-left">
          <li class="nav-item">
            <a class="sidebar-link" href="/">
              <span class="icon-holder">
                <i class="c-blue-500 ti-home"></i>
              </span>
              <span class="title">Home</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="sidebar-link" href="/email.html">
              <span class="icon-holder">
                <i class="c-brown-500 ti-email"></i>
              </span>
              <span class="title">About Melo</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="sidebar-link" href="/compose.html">
              <span class="icon-holder">
                <i class="c-blue-500 ti-share"></i>
              </span>
              <span class="title">About Me</span>
            </a>
          </li>
          
        </ul> -->
      </div>
    </div>
